.button {
    -fx-text-fill: #fff;
    -fx-border-color: none;
    -fx-background-color: #333;
    -fx-padding: 3 6 6 6;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-text-fill: rgb(220, 20, 60);
}


.root {
    -fx-background-color: #333;
}